.container{
    display: flex;
    align-items: center;
    gap: 170px;
}

.tituloCtt{
    font-size: 45px;
    font-weight: 700;
    width: 400px;
}

.icon-container {
    display: flex;
    gap: 50px;
    align-items: center;
    padding-top: 20px;
}

.textos{
    width: 450px;
    height: 374px;
    margin-left: 104px;
    margin-top: 70px;
}

.iconIMG{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

.container-direita{
    width: 400px;
    margin-right: 150px;
}

.linha{
    height: 350px;
    border-left: 2px solid #B9B7B7;
}

.input-group {
    margin-bottom: 10px;
}

.input-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.input-group input,
.input-group textarea {
    width: 300px;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    resize: none;
    border-radius: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.enviar{
    width: 150px;
    padding: 5px;
    background-color: #6975E8;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-left: 150px;
}

.enviar:hover{
    background-color: #555555;
}